<style>
    .advertisebannerbar{
        color:white;
        font-size: 4rem;
        height:12rem;
        background-color: black;
        display:flex;
        justify-content:center;
        align-items:center;
    }


    @media (max-width: 1000px) {
        .advertisebannerbar{
            font-size: 2rem;
            font-weight:900;
            background-color:var(--middle_bg_color);
            color:black;
        }
    }




</style>
<div class="advertisebannerbar ">
    Advertisement Banner
</div>