<style>
.AnnouncementBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height: 4rem;
    background-color:var(--menu_bg_color);
}

.AnnouncementDetail{
    font-size: 1.3rem;
    color:var(--dark_text_color);
}

.AnnouncementIcon{
    color:var(--dark_text_color);
    font-size: 2rem;
    margin-left:1.3rem;
    margin-right:1.3rem;
}
</style>


<div class="AnnouncementBar NavFon">
    <span class="AnnouncementIcon material-icons">campaign</span>
    <span class="AnnouncementDetail"> 선생님들의 프로필을 확인해 보세요!</span>
</div>

