<style>

    .Menu_Fullbox{
        margin-top:3rem;
        margin-bottom:3rem;
    }
    .Menu_Line1{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        margin: 2.5rem 6% 1rem 6%;
    }
    .Menu_Line2{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        margin: 0 6% 2rem 6%;
    }

    .Cardmenu_Item{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }

    .Cardmenu_Box{
        height:66px;
        width:66px;
        display:flex;
        justify-content:center;
        align-items:center;
        background-color:var(--menu_bg_color);
        border-radius:1.5rem;

    }
    .Cardmenu_Img{
        height:80%;
        width:80%;
    }
    .Cardmenu_Name{
        font-size:1.1rem;
        font-family: 'NanumSquareRoundOTFR';
    }
</style>

<div class="Menu_Line1">
    <div class="Cardmenu_Item">
        <div class="Cardmenu_Box"><img class="Cardmenu_Img" src='/media/icons/question-mark.png'>
        </div>
        <span class="Cardmenu_Name">과외 매칭</span>
    </div>
    <div class="Cardmenu_Item">
        <div class="Cardmenu_Box"><img class="Cardmenu_Img" src='/media/icons/question-mark.png'>
        </div>
        <span class="Cardmenu_Name">수업 관리</span>
    </div>
    <div class="Cardmenu_Item">
        <div class="Cardmenu_Box"><img class="Cardmenu_Img" src='/media/icons/question-mark.png'>
        </div>
        <span class="Cardmenu_Name">선생님 검색</span>
    </div>
    <div class="Cardmenu_Item">
        <div class="Cardmenu_Box"><img class="Cardmenu_Img" src='/media/icons/question-mark.png'>
        </div>
        <span class="Cardmenu_Name">내 프로필</span>
    </div>
</div>
<div class="Menu_Line2">
    <div class="Cardmenu_Item">
        <div class="Cardmenu_Box"><img class="Cardmenu_Img" src='/media/icons/question-mark.png'>
        </div>
        <span class="Cardmenu_Name">이용 안내</span>
    </div>
    <div class="Cardmenu_Item">
        <div class="Cardmenu_Box"><img class="Cardmenu_Img" src='/media/icons/question-mark.png'>
        </div>
        <span class="Cardmenu_Name">About Us</span>
    </div>
    <div class="Cardmenu_Item">
        <div class="Cardmenu_Box"><img class="Cardmenu_Img" src='/media/icons/question-mark.png'>
        </div>
        <span class="Cardmenu_Name">contact</span>
    </div>
    <div class="Cardmenu_Item">
        <div class="Cardmenu_Box"><img class="Cardmenu_Img" src='/media/icons/question-mark.png'>
        </div>
        <span class="Cardmenu_Name">선생님 채용</span>
    </div>
</div>
