{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="BasicFormFullBox">
  <div style=" margin-top:4rem; width: 400px; text-align: center" >
    <h2 class="LogoFont"> Login </h2>
    <form action="" method="post" class="NavFont" style="margin-top:1rem">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" class="btn  rounded-pill col-6 mt-3 " style=" background-color: #ccc;
          box-shadow: 0 0 4px black; color:black">
    </form>
  </div>
</div>
{% endblock %}