{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<header>
      {% include 'header.html' %}
      <div class="Header_Title_Item TitleFont" >
        비밀번호 변경
      </div>
</header>
<main>
  <div class="MainFrame">
      <form action="{% url 'accountapp:update' pk=user.pk %}" method="post" >
        <div class="FormContent_Item IndexFont">{% csrf_token %}{% bootstrap_form form %}</div>
        <div class="SubmitButton_Item"> <input type="submit" class="btn SubmitButton IndexFont"></div>
      </form>
  </div>
</main>
{% endblock %}