<div class="ExpandedBoxItems_Account" style="border-top:none">
    <span class="material-icons ExpandedBox_Icon_Account">notifications</span>
    <a href="#">알림</a>
</div>
<div class="ExpandedBoxItems_Account">
    <span class="material-icons ExpandedBox_Icon_Account">edit</span>
    <a href="#">프로필 관리</a>
</div>
<div class="ExpandedBoxItems_Account">
    <span class="material-icons ExpandedBox_Icon_Account">settings</span>
    <a href="#">비밀번호 변경</a>
</div>
<div class="ExpandedBoxItems_Account">
    <span class="material-icons ExpandedBox_Icon_Account">logout</span>
    <a href="#">로그아웃</a>
</div>
