.IndexFont{
    font-family: 'NanumSquareRoundOTFB';
}
.ContentFont{
    font-family: 'NanumSquareRoundOTFR';
}
.TitleFont{
    font-family: 'NanumSquareRoundOTFEB';
}
.FooterIconFont{
    font-family: 'NanumSquareRoundOTFL';
}
.FooterDetailFont{
    font-family: 'Noto Sans KR', sans-serif;
}


/* 기본 테그들 관리 */

label{
    cursor: pointer;
}


a {
  text-decoration: none;
  transition: color 0.2s;
  color: var(--dark_text_color);
}

button{
    background: inherit ;
    border:none;
    box-shadow:none;
    border-radius:0;
    padding:0;
    overflow:visible;
    cursor:pointer
    }

a:hover {
  color: var(--hover_text_color);
  text-decoration: none;
}


html {
  zoom: 90%;
  font-size: 16px;
  color:var(--dark_text_color);
}

/* 기본 프레임 그리드 */

body {
  padding-top:5.5rem;
  padding-bottom: 5.5rem;
}

main{
    margin:0;
    min-height: calc(100vh - 6rem - 5.5rem);
    background-color: var(--bright_bg_color);
}


footer a{
    color: var(--bright_text_color);
}



/* 웹 화면 관리*/
@media (max-width: 1000px) {

    /* 앱화면 디폴트 세팅 */
    html {
        font-size: 12px;
    }

}

