header {
    display: grid;
    grid-template-columns: auto 12rem;
    grid-template-rows: 5.7rem;
    background-color: var(--darktp_bg_color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


/* 로고 배치 */

.Header_LogoItem{
    zoom:0.9;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    position: relative;
    bottom:0.7rem;
    margin-left:2rem;
}


.Expand_IconItem{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}

/* 아이콘 관리 */
.HeaderIconStyle{
    color:var(--bright_text_color);
    font-size: 2.5rem;
    margin-right:1.4rem;
    text-shadow: 0 0 5px var(--bright_shadow_color);
}

.ExpandedBox_Icon_Account{
    color:var(--bright_text_color);
    font-size: 1.8rem;
    text-shadow: 0 0 1px var(--bright_shadow_color);
    margin-right:0.5rem;
}

