<style>

.LogoFont{
    font-family: 'Righteous', cursive;
}

.Logodark{
    color:var(--darkgray_text_color);
    font-size: 3rem;
    font-weight:900;
    position: relative;
    top:12px;
}

.SubLogodark{
    display: inline-block;
    padding: 0px 2px;
    border-radius: 5px;
    font-size: 0.8rem;
    background-color: var(--dark_bg_color);
    color: #F8F8F8;
}
</style>

<div class="LogoFont">
    <div class="Logodark">
      <span>matched.</span>
    </div>
    <div class="SubLogodark">
        &nbsptutor matching platform&nbsp
    </div>
</div>