<style>
.Logobright{
    font-size: 3rem;
    font-weight:900;
    position: relative;
    top:12px;
    text-shadow: 0 0 2px var(--bright_shadow_color);
}
.Logobright a{
    color: #F8F8F8
}
.Logodark a:hover{
    color: var(--hover_text_color);
}
.SubLogobright{
    display: inline-block;
    padding: 0px 2px;
    border-radius: 5px;
    font-size: 0.8rem;
    background-color: #F8F8F8;
    color: #303030;
}
</style>

<div class="LogoFont">
    <div class="Logobright">
      <a href=#>matched.</a>
    </div>
    <div class="SubLogobright">
        &nbsptutor matching platform&nbsp
    </div>
</div>