<style>
.ExpandedBoxItems_Account{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:var(--darktp_bg_color);
    height:4.5rem;
    width: 100%;
    border-top: 0.5px solid gray;
    z-index: 100;
}

.ExpandedBox_Account{
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5.7rem;
  right:0;
  left:0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s, visibility 0.8s;
}

.ExpandedBox_Account a{
    color:var(--bright_text_color);
}

#LabelLink-Account:checked ~ .ExpandedBox_Account {
  opacity: 1;
  visibility: visible;
}

</style>


<input style="display:none;" type="checkbox" id="LabelLink-Account">
<label for="LabelLink-Account" class="HeaderIconStyle material-icons">edit_square</label>
<div class="ExpandedBox_Account ContentFont">
    {% include 'menues/logined_account_menues.html' %}
</div>