<!-- 네비게이션 메뉴 -->
<div class="Footer_NavBox_Item FooterNavFont">
        {% include 'menues/footer_menues.html' %}
</div>

<!-- 로고 전체 -->
<div class="Footer_LogoItem">
    <!--웹 로고 -->
    <div class="Footer_LogoItem_Logo">
        {% include 'snippets/Logo_Bright.html' %}
    </div>
    <!-- 로고 상세 -->
    <div class="Footer_LogoItem_Detail FooterThinFont " >
        <div>
        법인명 : OOOO / 사업등록번호 : 서울, OOOO / 등록일 : 2015년 10월 06일 /
        사업자등록번호 : OOOOO / 법인등록번호 : 0000000-000000 / 대표 : 조경연 / 책임자 : 000 /
        법인 위치 : 서울시 강남구 삼성로 000, 000-000 / 전화번호 : 000-0000-0000 / 대표이메일 : 0000@gmail.com  /
        특허등록번호 : 00-000000-000-00 / 상표등록 제00-000000호<<br>Copyrights 2023 matched. All Rights Reserved</div>
    </div>
</div>
<!-- 모바일 로고-->
