<style>
footer{
    width:100%;
    display: flex;
    height:6rem;
    background-color: var(--darktp_bg_color);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.Footer_Icon{
    margin:0.2rem 2rem;
    color:var(--bright_text_color);
    font-size: 2.5rem;
}

.Footer_IconName{
    color:var(--bright_text_color);
    font-size: 1rem;
}

.Footer_IconItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
</style>

<div class="Footer_IconItem FooterIconFont">
    <a class="Footer_Icon material-icons" href="{% url 'homescreenapp:homescreen' %}">
    <span>home</span>
    </a>
    <span class="Footer_IconName">홈</span>
</div>

<div class="Footer_IconItem FooterIconFont">
    <a class="Footer_Icon material-icons" href="#">
        <span>edit</span>
    </a>
    <span class="Footer_IconName">수업관리</span>
</div>

<div class="Footer_IconItem FooterIconFont">
    <a class="Footer_Icon material-icons" href="#">
        <span>group_add</span>
    </a>
    <span class="Footer_IconName">과외매칭</span>
</div>


<div class="Footer_IconItem FooterIconFont" >
    {% if not user.is_authenticated %}
    <a class="Footer_Icon material-icons" href="{% url 'accountapp:login' %}">
        <span>account_circle</span>
    </a>
    <span class="Footer_IconName">로그인/가입</span>
    {% else %}
    <a class="Footer_Icon material-icons" href ="{% url 'accountapp:update' pk=user.pk %}">
        <span>account_circle</span>
    </a>
    <span class="Footer_IconName">내정보</span>
    {% endif %}
</div>
