<style>

header {
    display: grid;
    grid-template-columns: 6rem auto 6rem;
    grid-template-rows: 0.9rem 3.7rem 0.9rem;
    background-color: var(--brighttp_bg_color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* 로고 배치 */

.Header_Logo_Item{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    position: relative;
    bottom:0.4rem;
    margin-left:2rem;
}


.Header_Notification_IconItem{
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}

.Header_Back_IconItem{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left:1.3rem;
}

.Header_Title_Item{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:var(--dark_text_color);
    font-size: 2rem;
    position: relative;
    top:0.2rem;

}

/* 아이콘 관리 */
.HeaderIcon_a{
    color:var(--darkgray_text_color);
    font-size: 2.5rem;
    margin-right:1.3rem;
    position: relative;
    top:0.2rem;
}

.HeaderIcon_button{
    color:var(--darkgray_text_color);
    font-size: 2.5rem;
    margin-right:1.3rem;
}


.Header_Hr_Item{
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Header_Hr_Div{
    width:100%;
    height:1px;
    background-color:var(--middle_bg_color);
    margin:0;
    padding:0;
}

</style>

{% if request.resolver_match.url_name == 'homescreen' %}
    <div class="Header_Logo_Item" >
        {% include 'snippets/Logo_Dark.html' %}
    </div>
{% else %}
    <div class="Header_Back_IconItem" >
        <button class="HeaderIcon_button material-icons" onclick="goBack()">arrow_back</button>
    </div>
{% endif %}

<!-- 스크롤 네비게이션 메뉴 -->

{% if request.resolver_match.url_name == 'homescreen' %}
<div class="Header_Notification_IconItem">
    <div class="Alarm_button">{% include 'expand_menubutton/expand_alarm_button.html' %}</div>
    <a><span class="HeaderIcon_a material-icons">share</span></a>
</div>
{% endif %}

<!-- hr -->
<div class="Header_Hr_Item">
    <div class="Header_Hr_Div"></div>
</div>
<!-- 자동 창 닫힘-->
<script>

const alarmMenu = document.querySelector('.Alarm_button');
const alarmCheckbox = document.querySelector('#LabelLink-Alarm');

document.addEventListener('click', event => {

    if (!alarmMenu.contains(event.target)) {
        alarmCheckbox.checked = false;
    }
});

function goBack() {
  if (history.length > 1) {
    history.go(-1);
  } else {
    // If there is no previous page, stay on current page
    window.location.href = window.location.href;
  }
}
</script>




