<div class="Header_LogoItem" >
    {% include 'snippets/Logo_Bright.html' %}
</div>

<!-- 스크롤 네비게이션 메뉴 -->
<div class="Expand_IconItem">
    <div class="Alarm_button">{% include 'expand_menu_button/expand_alarm_button.html' %}</div>
    <div class="Account_button">{% include 'expand_menu_button/expand_accountmenu_button.html' %}</div>
</div>

<!-- 자동 창 닫힘-->
<script>

const accountMenu = document.querySelector('.Account_button');
const accountCheckbox = document.querySelector('#LabelLink-Account');
const alarmMenu = document.querySelector('.Alarm_button');
const alarmCheckbox = document.querySelector('#LabelLink-Alarm');

document.addEventListener('click', event => {

    if (!accountMenu.contains(event.target)) {
        accountCheckbox.checked = false;
    }
    if (!alarmMenu.contains(event.target)) {
        alarmCheckbox.checked = false;
    }
});
</script>




