{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<header>
      {% include 'header.html' %}
      <div class="Header_Title_Item TitleFont" >
        학력사항
      </div>
</header>
<main>
  <div class="MainFrame">
      <form action="{% url 'scholarshipapp:create' %}" method="post" >
        <div class="FormContent_Item IndexFont">{% csrf_token %}{% bootstrap_form form %}</div>
        <div class="SubmitButton_Item"> <input type="submit" class="btn SubmitButton IndexFont" value="기본정보 작성"></div>
      </form>
  </div>
</main>
{% endblock %}